---
import BaseLayout from "../layouts/BaseLayout.astro";

import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Blog from "../components/Blog.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Scripts from "../components/Scripts.astro";
---

<BaseLayout>

<Navigation />

<main id="main">
<div class="container">

<Hero />

<About />

<Skills />

<Projects />

<Experience />

<Blog />

<Contact />

</div>

<Footer />

</main>

<Scripts />

</BaseLayout>
